.area-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-bottomMenuList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.area-bottomView{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listGrammars{
    display: flex;
    flex-direction: column;
}

.area-listGrammars{
    flex-direction: row;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    border-top: 3px solid #FF881B;
    border-right: 3px solid #FF881B;
    border-left: 3px solid #FF881B;
    width: 90%;
}

.grammar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid;
}
