.homePage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.area-top {
    display: flex;
    flex-direction: row;
    height: 60%;
}

.area-menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%
}

.area-menuTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

.area-menuBottom, .area-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.area-bottom {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
}

.title-Kaiwa, .title-Test {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #FFFFFF;
    width: 170px;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
}


.title:hover{
    border-bottom: 3px solid #0077FF;
    transition: border-bottom  0.5s ease; 
    background: linear-gradient(0deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 20%); 
}

.button-LoginHP,
.button-SignupHP {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    border-radius: 10px;
    width: 268px;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.button-LoginHP:hover,
.button-SignupHP:hover{
    background: #0077FF;
}

.area-features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.btn-feature {
    background: #FF881B;
    border-radius: 10px;
    padding: 18px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    width: 217px;
    color: #FFFFFF;
}