.left {
    width: 50%;
    height: 100%;
}

.screenLogin {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.area-logo {
    display: flex;
    justify-content: center;
}

.rigth {
    width: 50%;
    height: 100%;
}

.area-Login {
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px 0px;
    width: 70%;
    height: 75%;
    background-color: white;
    box-shadow: 1px 4px 4px rgba(151, 198, 252, 0.5);
    display: flex;
    flex-direction: column;
}

.button-Login, 
.button-Regiter, 
.button-RegiterDisable,
.button-LoginDisable {
    width: 15%;
    padding: 19px 45px;
    background-color: #97C6FC;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    text-align: center;
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: white;
    cursor: pointer;
}

.warning {
    color: red;
    height: 5%;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.button-Login:hover, .button-Regiter:hover {
    -moz-box-shadow: 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px #ccc;
    box-shadow: 1px 4px 4px rgba(151, 198, 252, 0.5);
}

.area-btnLogin {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.area-Input,
.area-fgPass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.field {
    width: fit-content;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    align-items: flex-start;
    color: #97C6FC;
}

.forgetPass {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #97C6FC;
}

.inputField {
    width: 60%;
    border-width: 0px 0px 2px 0px;
    border-bottom: 2px solid #97C6FC;
}


.form-Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
}

.rigth {
    color: #2CB751;
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-LoginDisable, .button-RegiterDisable {
    background-color: grey;
    cursor: not-allowed;
}

.area-status, .area-statusLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.area-fgPass{
    justify-content: end;
}