header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background: linear-gradient(90.25deg, #FFEA9C 0.03%, #FBBC05 47.41%, #FF881B 100%);
}

.area-menuList {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: end;
}

.itemMenu {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}